
<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
<aside id="colorlib-aside" role="complementary" class="js-fullheight">
	<h1 id="colorlib-logo"><a href="/">news</a></h1>
	<nav id="colorlib-main-menu" >
		<ul>
			<li class="colorlib-active"><a href="/">Trang Chủ</a></li>
			{{#each this.r as |value|}}
				{{#if value.chuyenMucCha}}
					<li><a id="dm" href="/chuyenmuc/{{value.idChuyenMuc}}">{{value.tenChuyenMuc}}{{#if value.chuyenMucCon}} <span class="caret"></span>{{/if}}</a>
						<div class="submenu">
							<ul>
								{{#each value.chuyenMucCon as |row|}}
									<li><a id="dm" href="/chuyenmuc/{{row.idChuyenMuc}}">{{row.tenChuyenMuc}}</a>
								{{/each}}
							</ul>
						</div>
					</li>
				{{/if}}
			{{/each}}
			{{#if daDangNhap}}
			<li><a href="/account/profile" >Chào <b>{{user.ten}}</b></a></li>
			<li><a href="/account/logout">ĐĂNG XUẤT</a></li>
			{{else}}
			<li><a href="/account/login" >ĐĂNG NHẬP</a></li>
			<li><a href="/account/register" >ĐĂNG KÝ</a></li>
			{{/if}}
		</ul>
		
	</nav>

</aside>
