{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}


<div class="col-md-9">

    <div class="signup-form">
        <form method="POST" id="form">
            <h2>Tạo tài khoản</h2>
            {{#each types}}
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" {{#if isSelected}}checked{{/if}} class="form-check-input" value="{{value}}" name="optradio">{{name}}
                </label>
            </div>
            {{/each}}

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-address-card"></i></span>
                    <input type="text" class="form-control" name="name"  placeholder="Họ và tên">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-check-circle"></i></span>
                    <input type="password" class="form-control" name="confirm" placeholder="Xác nhận password">
                </div>
            </div>

            <div class="form-group ">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-birthday-cake"></i></span>
                    <input type="text" class="form-control" name="dob" value="{{dob}}" id="dob" placeholder="Ngày sinh">
                </div>
            </div>

            <div class="form-group d-none" id="author">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-signature"></i></span>
                    <input type="text" class="form-control" name="author" 
                        placeholder="Bút danh">
                </div>
            </div>
            <div class="form-group " id="HSD">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fab fa-cc-visa"></i></span>
                    <input type="text" class="form-control" id="txtHSD" name="HSD" 
                        placeholder="Hạn sử dụng (Premium)">

                </div>

            </div>


            <div class="form-group d-none" id="category">
                <div class="input-group">
                    <select class="form-control shadow" name="category">
                        {{#each categories}}
                        <option value="{{idChuyenMuc}}">{{tenChuyenMuc}}</option>
                        {{/each}}
                    </select>
                </div>

            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Tạo tài khoản</button>
            </div>

        </form>
    </div>

</div>

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
<script>


    $('#dob').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true,
    });

    $('#txtHSD').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true,
    });


    $('input[name=optradio]').change(function () {
        var selectedValue = $('input[name=optradio]:checked').val();
        switch (selectedValue) {
            case "1": $('#HSD').removeClass('d-none');
                $('#author').removeClass('d-none'); $('#author').addClass('d-none');
                $('#category').removeClass('d-none'); $('#category').addClass('d-none');
                break;
            case "2": $('#author').removeClass('d-none');
                $('#HSD').removeClass('d-none'); $('#HSD').addClass('d-none');
                $('#category').removeClass('d-none'); $('#category').addClass('d-none');
                break;
            case "3": $('#category').removeClass('d-none');
                $('#HSD').removeClass('d-none'); $('#HSD').addClass('d-none');
                $('#author').removeClass('d-none'); $('#author').addClass('d-none');
                break;
            case "4": $('#author').removeClass('d-none'); $('#author').addClass('d-none');
                $('#HSD').removeClass('d-none'); $('#HSD').addClass('d-none');
                $('#category').removeClass('d-none'); $('#category').addClass('d-none');
                break;


        }
    });
   



        $('#form').validate({
            rules: {
                username: {
                    required: true,
                    remote: {
                        url: '/account/is-available'
                    }
                },
                password: {
                    required: true,
                    minlength: 6

                },
                confirm: {

                    required: true,
                    equalTo: $('[name="password"]')
                },
                email: {
                    required: true,
                    email: true
                },
                name: {
                    required: true,
                },
              
            },
            messages: {
                username: {
                    required: 'Bạn không được để trống username',
                    remote: 'Username đã tồn tại'
                },
                password: {
                    required: 'Bạn không được để trống password',
                    minlength: 'Độ dài password ít nhất 6 ký tự'
                },
                email: {
                    required: 'Bạn không được để trống Email',
                    email: 'Email không phù hợp'
                },
                confirm: {

                    equalTo: 'Xác nhận mật khẩu không khớp'
                },
                name:{
                    required: 'Bạn không được để trống tên'
                },
               
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
   

</script>
{{/section}}