<!--Phần popup thông báo lí do-->
		<div id="myModal"  class="modal fade" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Lí do</h4>
		      </div>
		      <div class="modal-body">
		        <p>{{lido.lydoTuChoi}}</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight">
			<h1 id="colorlib-logo">PHÂN HỆ WRITER</h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<li><a href="writer_vietBai">Viết bài</a></li>
					<li><a href="writer_daDuyet">Đã duyệt & chờ xuất bản</a></li>
					<li><a href="writer_daXuatBan">Đã xuất bản</a></li>
					<li><a href="writer_biTuChoi">Bị từ chối</a></li>
					<li><a href="writer_chuaDuocDuyet">Chưa được duyệt</a></li>
					{{#if fail}}
					<a href="writer_chinhsua?id={{row.idBaiViet}}" class="btn btn-primary">Chỉnh sửa <i class="icon-arrow-right22"></i></a>
					{{/if}}
					{{#if reason}}
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Lí do</button>
					{{/if}}
					
				</ul>
			</nav>

			<div class="colorlib-footer">
				<p><small>
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> Create by KhaiHuyHoi</a>
					</small>
				</p>
			</div>
		</aside>

		<div id="colorlib-main">
			<div class="colorlib-blog">
				<div class="container-wrap">
					<div class="row">
						<div class="col-md-9">
							<div class="content-wrap">
								<article class="animate-box">
									<div class="blog-img" style="background-image: url({{row.anhDaiDien}});"></div>
								
										
					
										<h2><strong>{{row.tieuDe}}</strong></h2>
											<div class="catdate">
											<span class="cat"><a href="#">{{row.tenChuyenMuc}}</a></span>
										    <span>|</span>
											<span class="date">{{row.ngayDang}}</span>	
											</div>
												
									{{{row.noiDung}}}

									
								</article>
							
							</div>
						</div>
						<div class="col-md-3 sticky-parent">
							<div class="sidebar">
								<div class="side animate-box">
									<div class="form-group">
										<input type="text" class="form-control" id="search" placeholder="Nhập để tìm kiếm">
										<button type="submit" class="btn submit btn-primary"><i class="icon-search3"></i></button>
									</div>
								</div>
								
								<div class="side animate-box">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


