
<div id="colorlib-page">

		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight">
			<h1 id="colorlib-logo">PHÂN HỆ WRITER</h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<li class="colorlib-active"><a href="writer_vietBai">{{#if chinhsua}}Chỉnh sửa{{else}}Viết bài {{/if}} </a></li>
					<li><a href="writer_daDuyet">Đã duyệt & chờ xuất bản</a></li>
					<li><a href="writer_daXuatBan">Đã xuất bản</a></li>
					<li><a href="writer_biTuChoi">Bị từ chối</a></li>
					<li><a href="writer_chuaDuocDuyet">Chưa được duyệt</a></li>		
					<li ><a href="/account/logout">Đăng xuất</a></li>			
				</ul>
			</nav>

			<div class="colorlib-footer">
				<p><small>
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> Create by KhaiHuyHoi</a>
					</small>
				</p>
			</div>

		</aside>
		<form action="" method="POST"  enctype="multipart/form-data">
		<div id="colorlib-main">
			<div class="colorlib-blog">
				<div class="container-wrap">
					<div class="col-md-9">
						<div class="content-wrap">
							<div class="row">
								<div class="col-md-12 animate-box fadeInUp animated">
								<h1>{{#if chinhsua}}CHỈNH SỬA{{else}}VIẾT BÀI {{/if}}</h1>
									<input hidden="true" name="idBaiViet" value="{{bv.idBaiViet}}">
									<label for="">TIÊU ĐỀ</label>
									<br>	
									<input name='tieude' class="nd" type="text" value="{{bv.tieuDe}}" required>	
									<br>	
									<label for="">ẢNH ĐẠI DIỆN</label>
									<br>	
									
									<img class="anhdaidien" id='myimage' src="{{bv.anhDaiDien}}">
									<input name='anhdaidien' class="nd" type="file" value="" onchange="onFileSelected(event)">	
									<br>	

									<label >BÀI VIẾT PREMIUM</label>
									<input name="premium" type="checkbox" value="1" {{#if bv.premium }}checked{{/if}}>Premium</input>
									<br>
									<label for="">TÓM TẮT</label>
									<br>	
									<textarea name="tomtat" id="" cols="30" rows="10"  required> {{bv.moTa}}</textarea>
					
									<br>	
									<label for="">NỘI DUNG</label>
									<br>	
									<textarea class="txtnd" name="noidung" id="editor" rows="10" cols="500"  required>
										
										{{{bv.noiDung}}}
						            </textarea>
						            <script>
						            	CKEDITOR.config.height = '400';
						              
						                CKEDITOR.replace( 'noidung' );
						            </script>
						            <input class="db btn btn-success" type="submit" value="ĐĂNG BÀI">
								
								</div>
							</div>
						</div>
					</div>


					<div class="col-md-3 sticky-parent">
						<div class="sidebar" id="sticky_item">
							<div class="side animate-box">
								<h2 class="sidebar-heading"><b>Chuyên mục đang chọn</b></h2>
								<h1>
									<strong id="cm" class="chuyenMucDaChon">{{bv.tenChuyenMuc}}</strong>
									<input name="chuyenmuc" type="text" hidden="true" id="inputcm" value="{{bv.idChuyenMuc}}"  required>
								</h1>		
							</div>
							<div class="side animate-box">
								<h2 class="sidebar-heading"><b>Chọn chuyên mục</b></h2>
								<ul>
									{{#each this.cm as |value|}}
										{{#if value.chuyenMucCha}}
											<li><button type="button" class="cha btn btn-primary" value="{{value.idChuyenMuc}}">{{value.tenChuyenMuc}}</button>
												<div class="submenu">
													<ul>
														{{#each value.chuyenMucCon as |row|}}
															<li><button type="button" class="con btn btn-primary" value="{{row.idChuyenMuc}}">{{row.tenChuyenMuc}}</button></li>
														{{/each}}
													</ul>
												</div>
											</li>
										{{/if}}
									{{/each}}
								</ul>							
		
							</div>
							<div class="side animate-box">
								<h2 class="sidebar-heading"><b>Thêm nhãn</b></h2>
								<div id="tag">
									<input name="tag" id="inputtag" type="text" value="{{inputtags}}" hidden="true">
									{{#each this.tags}}
										<div class="alert alert-success alert-dismissible tag">
											{{tenTag}}
											<button type="button" class="close" data-dismiss="alert" onclick="tagclose({{idTag}})">&times;</button>								 
										</div>
									{{/each}}
								
								</div>
									<p>
										<select class="form-control" id="tagValue">
											<option value="" selected disabled hidden>Chọn nhãn</option>
												{{#each this.alltag}}
												<option value="{{idTag}}">{{tenTag}}</option>
												{{/each}}
											</select>
										<button type="button"  class="btn-success db" >Thêm</button>
									</p>
								</div>
						</div>
					</div>
				</div>	
			</div>		
		</div>
	</form>
</div>