
		
<div id="colorlib-page">
	<!--Menu-->
	{{> menu r=this.rows.chuyenmuc}}
	<!--Login show-->
	{{> login url=this.url}}
	<div id="colorlib-main">
		<div class="colorlib-blog" >
			<div class="container-wrap" >
				<div class="row row-pb-lg">
					<div class="col-md-12 blog-slider">
						<div class="owl-carousel1">
							{{#each this.rows.baivietnoibat as |bvnb|}}
							<div class="item">
								<div class="blog-entry">
									<div class="blog-img" style="background-image: url(images/{{bvnb.anhDaiDien}});" >
										<div class="desc desc2 text-center">
											<p class="tag"><span>{{bvnb.tenChuyenMuc}}</span></p>
											<div class="desc-bottom">
												<h2 class="head-article"><a href="./chitietbaiviet/{{bvnb.idBaiViet}}">{{bvnb.tieuDe}}</a></h2>
												<p>Ngày đăng:  {{bvnb.ngayDang}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
  				<div class="row">
<!--batdau--> 		<div class="col-md-12 padding-custom" id="bai-viet-moi-nhat" >
						<hr><h2 class="uppercase">BÀI VIẾT MỚI NHẤT</h2><hr>
						<div class="row">
						{{#each this.rows.baivietmoinhat as |bvmn|}}
							<div class="col-md-6">
								<div class="blog-entry animate-box">
									<div class="blog-img blog-img2" style="background-image: url(images/{{bvmn.anhDaiDien}});">
										<div class="desc text-center">
											<p class="tag"><span>{{bvmn.tenChuyenMuc}}</span></p>
											<h2 class="head-article"><a href="./chitietbaiviet/{{bvmn.idBaiViet}}">{{bvmn.tieuDe}}</a></h2>
											<p>Ngày đăng: {{bvmn.ngayDang}}</p>
										</div>
									</div>
								</div>
							</div>
						{{/each}}
						</div>
<!--ketthuc-->		</div>
<!--Batdau-->		<div class="col-md-6 padding-custom"  id="bai-viet-xem-nhieu-nhat">
						<hr><h2 class="uppercase">BÀI VIẾT MỚI NHẤT</h2><hr>
						<div class="row">
							{{#each this.rows.baivietxemnhieunhat as |bvxnn|}}
							<div class="col-md-12">
								<div class="blog-entry animate-box">
									<div class="blog-img blog-img2" style="background-image: url(images/{{bvxnn.anhDaiDien}});">
										<div class="desc text-center">
											<p class="tag"><span>{{bvxnn.tenChuyenMuc}}</span></p>
											<h2 class="head-article"><a href="./chitietbaiviet/{{bvxnn.idBaiViet}}">{{bvxnn.tieuDe}}</a></h2>
											<p>Ngày đăng: {{bvxnn.ngayDang}}</p>
										</div>
									</div>
								</div>
							</div>
							{{/each}}
						</div>
<!--ketthuc      --></div>
<!--topchuyenmuc-->	<div class="col-md-6 padding-custom" id="top-chuyen-muc">
						<hr><h2 class="uppercase">TOP CHUYÊN MỤC</h2><hr>
				 		<div class="row">
							{{#each this.rows.baiviettop10 as |bvt10|}}
							<div class="col-md-6">
								<div class="blog-entry animate-box">
									<div class="blog-img blog-img2" style="background-image: url(images/{{bvt10.anhDaiDien}});">
										<div class="desc text-center">
											<p class="tag"><span>{{bvt10.tenChuyenMuc}}</span></p>
											<h2 class="head-article"><a href="./chitietbaiviet/{{bvtop10.idBaiViet}}">{{bvt10.tieuDe}}</a></h2>
											<p>Ngày đăng:  {{bvt10.ngayDang}}</p>
										</div>
									</div>
								</div>
							</div>
							{{/each}}
						</div>
<!--endtopcm -->	</div>
 				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer" style="height: 50px;">
</div>	